.dropdown {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 1.25rem;
}

#categories-select,
#sort-select {
  font-family: inherit;
  margin-left: 10px;
  padding: 5px 10px;
  outline: none;
  border: none;
}
