@import '../../styles/variables.css';

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  height: var(--header-height-large);
  background-image: url(/header-background.png);
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}

@media (max-width: 500px) {
  header {
    height: var(--header-height-medium);
  }

  h1 {
    font-size: var(--font-size-large);
  }
}

@media (max-width: 360px) {
  header {
    height: var(--header-height-small);
  }

  h1 {
    font-size: var(--font-size-medium);
  }
}
