@import '../../styles/variables.css';

.book-card {
  position: relative;
  width: 260px;
  margin: 16px;
  padding: 16px;
  overflow: hidden;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
}

.book-image {
  position: relative;
  margin: 20px;
  height: 200px;
  align-self: center;
}

p.category {
  margin: 8px 0;
  font-weight: var(--font-weight-light);
  text-decoration: underline;
  color: var(--font-color-gray);
}

p.book-authors {
  font-weight: var(--font-weight-light);
  color: var(--font-color-gray);
}
