.book-card {
  position: relative;
  width: 260px;
  margin: 16px;
  padding: 16px;
  overflow: hidden;
  background-color: #eaeaea;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-image {
  position: relative;
  margin: 20px;
  height: 200px;
  align-self: center;
}

p.category {
  margin: 8px 0;
  font-weight: 200;
  text-decoration: underline;
  color: gray;
}

p.book-authors {
  font-weight: 200;
  color: gray;
}
