* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.loading {
  margin: 80px;
}

.loading-more {
  margin: -20px 0 40px 0;
}

.error-message {
  display: block;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 15px;
  margin: 20px 80px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-align: center;
}
